@import "./lib";
@import "../../vendor/spinkit/folding-cube";

// Elements
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html {overflow: hidden;}
body {
	margin: 0; padding: 0;
	font-size: 16px; color: #111;
	font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
	min-width: 640px;
	-webkit-text-size-adjust: none;
}
img, video, iframe {max-width: 100%;}
img {border: none;}
a {color: #2281d8;}
html, body, main {height: 100%;}


// Images slide
.images {
	position: absolute; z-index: 1;
	top: 0; bottom: 0; left: 0; right: 0;
	overflow: hidden;

	ul {
		height: 100%;
		margin: 0; padding: 0; list-style: none;
	}
	li {
		float: left; position: relative;
		height: 100%; width: 100vw;
		overflow: hidden;
		// loading icon
		&:after {
			content: ''; display: block; position: absolute;
			left: 50%; top: 50%; margin: -15px 0 0 -15px;
			border: 4px solid #f3f3f3;
			border-top: 4px solid #111;
			border-radius: 50%;
			width: 30px; height: 30px;
			animation: spin 1s linear infinite;
			@keyframes spin {
				0% { transform: rotate(0deg); }
				100% { transform: rotate(360deg); }
			}
		}
		&.loaded {
			&:after, &:before {display: none;}
		}
	}
	figure {
		height: 100%; margin: 0;
		opacity: 0;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: contain;
		transition: opacity .5s ease-out;
		&.show {opacity: 1;}
	}

	&.animation {
		ul {
			-webkit-transition: -webkit-transform .5s ease-in-out;
			transition: transform .5s ease-in-out;
		}
	}
}


// Typography
.typography {
	position: absolute; z-index: 12;
	top: 100px; left: 100px;
	color: #111;
	%bg {background: #fff;}
	%shadow {box-shadow: 0 1px 3px rgba(0,0,0,.15);}
	h1 {
		@extend %bg;
		@extend %shadow;
		display: inline-block; vertical-align: top;
		margin: 0 0 2px; padding: 0 10px;
		font-size: 42px; font-weight: 800;
		transition: transform .2s ease-out;
		transform-origin: 50% 0;
		&.hide {
			transform: rotateX(90deg);
		}
	}
	.description {
		@extend %bg;
		@extend %shadow;
		display: block; vertical-align: top;
		margin: 0 0 2px; padding: 6px 10px;
		font-size: 12px;
	}
	.date {
		@extend %bg;
		@extend %shadow;
		display: inline-block; vertical-align: top;
		margin: 0; padding: 5px 10px;
		font-size: 10px;
	}

	@media screen and (max-width: 768px) {
		top: 24vh; left: 10px; right: 10px;
		h1 {font-size: 30px;}
	}
}


// Slide controller
.slide-controller {
	$width-px: 120px;
	$width-per: 10vw;
	$block-width: 60px;
	$block-height: 80px;

	position: absolute; overflow: hidden;
	left: 0; right: 0; top: 0; bottom: 0;
	button {
		position: absolute; top: 0; bottom: 0; z-index: 10;
		margin: 0; padding: 0;
		width: $width-px;
		border: none; background: none;
		outline: 0; cursor: pointer;
		span {
			display: block;
			margin: 0 auto;
			width: $block-width; height: $block-height;
			background: #fff;
			box-shadow: 0 1px 3px rgba(0,0,0,.1);
			-webkit-transition: transform .2s ease-out;
			transition: transform .2s ease-out;
		}
		i {
			$size: 30px;
			display: block; position: absolute;
			left: 50%; top: 50%;
			margin: -#{$size/2} 0 0 -#{$size/2};
			font-size: $size;
		}
		&.btn-prev {
			left: 0;
			span {
				-webkit-transform: translateX(-#{$width-px/2});
				transform: translateX(-#{$width-px/2});
			}
		}
		&.btn-next {
			right: 0;
			span {
				-webkit-transform: translateX($width-px/2);
				transform: translateX($width-px/2);
			}
		}
		&:hover {
			span {
				-webkit-transform: translateX(0);
				transform: translateX(0);
			}
		}
		&:active {
			span {background: #f5f5f5;}
		}
		&.hide {display: none;}
	}
}


// Thumbnail images
.thumbnail-images {
	position: absolute; z-index: 11;
	left: 0; right: 0; bottom: 0;
	-webkit-transition: -webkit-transform .3s ease-out;
	transition: transform .3s ease-out;
	-webkit-transform-origin: 0 100%;
	transform-origin: 0 100%;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);

	.button-area {
		$button-size: 44px;
		position: absolute; overflow: hidden;
		right: 100px; top: -#{$button-size};
		width: $button-size; height: $button-size;
		box-shadow: 0 -1px 2px rgba(0,0,0,.2);
		button {
			padding: 0; margin: 0;
			width: $button-size; height: $button-size * 2;
			border: none;
			background: #fff;
			cursor: pointer;
			-webkit-transition: -webkit-transform .5s ease-out;
			transition: transform .5s ease-out;
			-webkit-transform-origin: 0 100%;
			transform-origin: 0 100%;
			-webkit-transform: translateY(0);
			transform: translateY(0);
			&:active {
				span {background: #f4f4f4;}
			}
		}
		span {
			display: block; position: relative;
			width: $button-size; height: $button-size;
			background: #fff;
		}
		i {
			position: absolute;
			left: 50%; top: 50%;
			margin: -12px 0 0 -12px;
		}
	}

	.index {
		box-shadow: 0 -1px 2px rgba(0,0,0,.2);
		ul {
			margin: 0; padding: 30px 40px; list-style: none;
			background: #fff;
			white-space: nowrap;
			font-size: 0;
			overflow-x: auto;
		}
		li {
			display: inline-block; position: relative;
			margin-left: 10px;
			cursor: pointer;
			&:first-child {margin-left: 0;}
		}
		button {
			display: inline-block; vertical-align: top; margin: 0;
			width: 180px; height: 120px;
			background-repeat: no-repeat;
			background-position: 50% 50%;
			background-size: cover;
			border: none; outline: 0; cursor: pointer;
			&.active {
				&:after {
					content: ''; display: block; position: absolute;
					left: 0; right: 0; top: 0; bottom: 0;
					border: 4px solid $color-key;
				}
			}
		}
	}

	&.active {
		-webkit-transform: translateY(0);
		transform: translateY(0);

		.button-area {
			button {
				-webkit-transform: translateY(-50%);
				transform: translateY(-50%);
			}
		}
	}
}


// Loading
.loading {
	position: fixed; z-index: 10000;
	left: 0; right: 0; top: 0; bottom: 0;
	background: #fff;
	opacity: 1;
	-webkit-transition: opacity .5s ease-out;
	transition: opacity .5s ease-out;
	.sk-folding-cube {
		position: absolute;
		left: 50%; top: 50%;
		margin: -20px 0 0 -20px;
		.sk-cube:before {background-color: $color-key;}
	}
	.message {
		$size: 14px;
		position: absolute; display: block;
		left: 0; right: 0; top: 50%;
		margin-top: -#{$size/2};
		text-align: center;
		font-size: $size;
		color: #999;
	}
	&.out {opacity: 0;}
	&.hide {display: none;}
}